global:
  scrape_interval: 5s
  evaluation_interval: 5s
  external_labels:
    monitor: "funless"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "funless"
    static_configs:
      - targets:
          - "{{ hostvars['eu_core']['ansible_default_ipv4']['address'] }}:4000"
          - "{{ hostvars['us_core']['ansible_default_ipv4']['address'] }}:4000"
          - "{{ hostvars['eu_worker']['ansible_default_ipv4']['address'] }}:4021"
          - "{{ hostvars['us_worker']['ansible_default_ipv4']['address'] }}:4021"
