[control_plane]
control ansible_host=${control_ip} private_ip=${private_control_ip} ansible_user=${user}

[controller]
controller1 ansible_host=${worker1_ip} ansible_user=${user}

[invokers]
worker1 ansible_host=${worker2_ip} private_ip=${private_w2_ip} ansible_user=${user}
worker3 ansible_host=${worker4_ip} private_ip=${private_w4_ip} ansible_user=${user}
worker5 ansible_host=${worker6_ip} private_ip=${private_w6_ip} ansible_user=${user}


[all:vars]
ansible_python_interpreter=/usr/bin/python3

[kube-cluster:children]
control_plane
controller
invokers

[workers:children]
controller
invokers