# Terraform tfvars file example with what you need.
# terraform.tfvars file with the following:
project = "<project id>"
gc_user = "<gcp_user_name>"
allowed_ip = "<allowed ip address for invocations>"
do_token = "<digital ocean token>"